.Content {
    color: #000000;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    font-size: x-large;
  }
  
  .Content h1{
    max-width: 40rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 1.6rem;
  }
  
  .Content p{
    max-width: 40rem;
    margin: 0 0.8rem 1rem 0.8rem;
  }

  .Content svg{
    max-height: 24px;
  }
