@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.App {
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: #a98fd9;
  font-family: Helvetica, sans-serif;
}

.top{
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-position: top center;
  background-size: cover;
  object-fit: cover;
  background-image: url("./img/bg.jpg");
}

.top p{
  position: relative;
  width: 80%;
  text-align: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 10vh;
  font-size: 52px;
  font-weight: 700;
  line-height: 100%;
  text-wrap: pretty;
  color: rgb(255,255,255);
  text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0);
}


.LogoSmall {
  padding: 30px;
  position: relative;
  width: 30vb;
  z-index: 100;
}
